@model IEnumerable<WardrobeMVCV001.Bottom>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Photo)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Type)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Color)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Season)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Occasion)
        </div>
    </div>

    <div class="container">
        @foreach (var item in Model)
        {<div class="row">
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col">
                    <img src="~/Images/@Html.DisplayFor(modelItem => item.Photo)" style="width:75px;" />
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Type)
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Color)
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Season)
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => item.Occasion)
                </div>
            </div>
            <div class="row">
                @*Added to move buttons*@
                <div class="col">
                    <button class="button">@Html.ActionLink("Edit", "Edit", new { id = item.BottomID })</button>
                    <button class="button">@Html.ActionLink("Details", "Details", new { id = item.BottomID }) </button>
                    <button class="button">@Html.ActionLink("Delete", "Delete", new { id = item.BottomID })</button>
                </div>
            </div>
        }
    </div>
</div>